/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section {
    display: inline-table;
    width: 200px;
    font-size: 11px;
}

svg {
    overflow: visible !important;
    float: left;
}
svg text {
    pointer-events: none;
}

.view {
    display: block;
    float: left;
    width: 50%;
    overflow: hidden;
}

.view > h3 {
    text-align: center;
}

/*Dendogram Styles*/
#show-length {
  position: absolute;
  top: 10px;
  left: 10px;
}

.links {
  fill: none;
  stroke: #000;
}

.link-extensions {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}

.labels {
  font: 10px sans-serif;
}

.link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-opacity: .6;
}

.label {
    pointer-events:all;
}

.label--active {
  font-weight: bold;
}


/* PARALLEL COORDINATES STYLE */

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-opacity: .4;
  stroke-width: 1.5;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
  -webkit-text-stroke: 1px #fff;
   fill: black;
   text-shadow:
       2px 2px 0 #fff,
     -2px -2px 0 #fff,  
      2px -2px 0 #fff,
      -2px 2px 0 #fff,
       2px 2px 0 #fff;
}

/*TOOLTIP*/

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 130px;                   
    padding: 2px;       
    font: 12px sans-serif;    
    background: steelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;    
    color: white; 
}